<nav>
    <ul class="barra-navegacion">
        <li>
            <span>Icono</span>
            Adminstrar Usuario
        </li>
        <li>
            <span>Icono</span>
            Adminstrar Propiedades
        </li>
        <li>
            <span>Icono</span>
            Adminstrar Propietarios
        </li>
        <li>
            <span>Icono</span>
            Adminstrar Clientes
        </li>
        <li>
            <span>Icono</span>
            Adminstrar Contactos
        </li>
        <li>
            <span>Icono</span>
            Configuracion
        </li>
        <li>
            <span>Icono</span>
            Manual de Ayuda
        </li>
        <li>
            <span>Icono</span>
            Escribir a Soporte
        </li>
    </ul>
</nav>
